#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keys_ru.h"

#define BASE 0
#define NUM 1
#define NAV 2
#define FN 3

/ {

behaviors {
    sticky_shift_quick: sticky_shift_quick {
        compatible = "zmk,behavior-sticky-key";
        #binding-cells = <1>;
        release-after-ms = <1200>;
        quick-release;
        bindings = <&kp>;
    };

    thumb_shift_ctrl: thumb_shift_ctrl {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <180>;
        quick-tap-ms = <150>;
        require-prior-idle-ms = <100>;
        hold-trigger-on-release;
        bindings = <&kp>, <&sticky_shift_quick>;
    };

    thumb_layer: thumb_layer {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "tap-preferred";
        tapping-term-ms = <220>;
        quick-tap-ms = <180>;
        bindings = <&mo>, <&kp>;
    };
};

keymap {
    compatible = "zmk,keymap";

    /* BASE */
    default_layer {
        bindings = <

&kp TAB   &kp Q   &kp W   &kp E   &kp R   &kp T          &kp Y   &kp U   &kp I   &kp O   &kp P   &kp BSPC
&kp ESC   &mt LGUI A &mt LALT S &mt LCTRL D &mt LSHFT F &kp G   &kp H   &kp J   &kp K   &kp L   &kp SEMI &kp DEL
&kp RU_CYRILLIC_IO &kp Z   &kp X   &kp C   &kp V   &kp B          &kp N   &kp M   &kp COMMA &kp DOT &kp SLASH &kp RU_CYRILLIC_E

                &thumb_shift_ctrl LCTRL LSHFT  &mo NAV  &kp SPACE      &thumb_layer NUM BSPC  &thumb_layer FN ENTER  &thumb_shift_ctrl RCTRL RSHFT
        >;

        label = "BASE";
    };

    /* NUM */
    num_layer {
        bindings = <

&kp TAB &kp MINUS &kp N7 &kp N8 &kp N9 &kp PLUS     &kp PG_UP &kp HOME  &kp UP    &kp END   &trans &trans
&kp ESC &kp STAR  &kp N4 &kp N5 &kp N6 &kp EQUAL      &kp PG_DN &kp LEFT  &kp DOWN  &kp RIGHT &trans &trans
&kp LSHFT &kp RU_DOT &kp N1 &kp N2 &kp N3 &kp N0    &trans    &trans    &trans    &trans    &trans &trans

        &trans &trans &trans &trans &trans &trans
        >;

        label = "NUM";
    };

    /* NAV + RU punctuation; host layout must be Russian for RU_* symbols. */
    nav_layer {
        bindings = <
&kp HOME &kp END &kp PG_UP &kp PG_DN &kp RU_EXCL &kp RU_QMARK       &kp RU_CYRILLIC_HA &kp RU_CYRILLIC_HARD_SIGN &kp RU_COLON &kp RU_SEMI &kp RU_DQT &kp RU_CYRILLIC_E
&kp LCTRL &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &kp LC(Y)        &kp HOME &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp END
&kp LSHFT &kp LC(LEFT) &kp LC(RIGHT) &kp LC(BSPC) &kp RU_DOT &kp RU_COMMA   &kp RU_LPAR &kp RU_RPAR &kp RU_MINUS &kp RU_UNDER &kp RU_EQUAL &kp RU_PLUS
        &trans &trans &trans &trans &trans &trans
        >;
        label = "NAV_RU";
    };

    /* FN */
    fn_layer {
        bindings = <

&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR &trans
&kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12    &kp PG_UP    &kp C_PREV   &kp C_PP     &kp C_NEXT   &kp C_MUTE &trans
&kp LALT &kp TAB &kp LG(SPACE) &kp LCTRL &kp LSHFT &trans       &kp PG_DN    &kp C_VOL_DN &kp C_VOL_UP &trans       &trans     &trans

        &trans &trans &trans &trans &trans &trans
        >;

        label = "FN_BT";
    };
};

};
